@charset "utf-8";
/* MovieDraft.Net main CSS */
/* We try to keep selectors listed in the order in which they appear on the index page. */
/* Selectors are also separated into Elements, Classes, and IDs (least to most specific). */
/* Within a selector, we keep attributes listed in alphabetical order, with sub-attributes grouped together. */
/* Elements */

strong {
	font-size: 1.2em;
	font-weight: bold;	
}

/* Classes */

/* IDs */

#md_entry_wrap {
	margin: 5px;
}

#md_entry_item_table {
	
}

#md_entry_item_table td {
	padding-right: 5px;	
}

#md_entry_item_table tr:nth-child(even) {
	background-color: #dfdfdf;
}
